html{
    color:white;
    background-color:#24478f;
    font-family: 'Raleway', sans-serif;
}

#header{
    background-color:#24478f;
    opacity:1;
    margin:0;
    padding:0;
    width:100%;
}

h2{
    text-align:left;    
    margin-left:10px;
}

#textcursor{
    animation: blink 1s linear infinite;
    
}

@keyframes blink{
    50%{
        opacity:0;    
    }
}

.menuiconcontainer{
    display:inline;
    cursor:pointer;
    top:10px;
    position:fixed;
    right:10px;
}

.nav{   
    text-align:center;
}

.pageImgs{
    width:30px;
    height:30px;
}

.links{
    color:white;  
    margin:30px;
}

.links:hover{
    cursor:pointer;    
}

.content{
    height:100%;
    width:100%;
    text-align:center;
    margin:0;
}

.workContent{
    height:100%;
    width:100%;
    text-align:left;
    margin:0;
}

.homeContent{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.homeWelcome{
    position: absolute;
    /*width: 100px;
    height: 50px;*/
    top: 50%;
    /*left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -70px; 
}

#title{
    width:100%;
}

#subtitle{
    width:100%;
    margin:0;
}


#imgbox{
    display:flex;
    justify-content:center;
    margin-top:60px;
}

#selfphoto{
    /*
    width:14vw;
    height:16vw;*/
    width:25%;
    height:45%;
}

#blurb{
    text-align:center;
    padding:4vw;
    flex-wrap:wrap;
}

a{
    color:white;
}

.selectProject{
    text-align:center;
    outline:none;
    cursor:pointer;
}

#workList{
    display:flex;
    height:100%;
    width:100%;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap:wrap;
    overflow-y:visible;
    background-color:#1f3d7a;
}

.workItem{
    display: flex;
    text-align:left;
    width:100%;
    cursor:pointer;
    color:white;
    text-decoration: none;
    height:100%;
    padding-left:.5vw;
    font-size:2em;
}

.workItem:hover{
    background-color:#24478f;
    color:white;
}

.workURL{
    color:black;
    text-decoration: none;
}

.workURL:hover{
    background-color:black;
    color:white;
}

option{
    cursor:pointer;
    outline:none;
    box-shadow:none;
}

.samples{
    margin:10px;
}

#sampleImg{
    /*
    width:500px;
    height:290px;*/
}

.sampleBlurb{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:20px;
}

#footer{
    position:fixed;
    bottom:0;
    display:flex;
    width:100%;
    justify-content:center;
    background-color:#24478f;
   /* height:3%;*/
    margin:0;
    padding:0;
    float:left;
}

#icons8Text{
    color:white;
    float:left;
    position:fixed;
    left:0;
    bottom:0;
    font-size:10px;
}

.linkImgs{
    margin:10px;
    margin-bottom:0;
    margin-top:0;
    width:20px;
    height:20px;
    cursor:pointer;
}