html{
  height:100%;
  width:100%;
  margin: 0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  background-color: /*#66cca3 #405aa5*/ #445EAE;
  color: white;
  display: flex;
  justify-content:center;
}
body{
  height:100%;
  width:/*93.2%*/ 100%;
  margin: 0;
  padding:0;
  background-color: #445EAE;
}
.placeholder{
  display:flex;
  width:100%;
  height:10%;
}
.navbar{
  display:flex;
  justify-content: flex-end;
  font-size:25px;
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Montserrat Subrayada', sans-serif;*/
  font-weight: bold;
  width:100%;
  height:10%;
  position: fixed;
}
.navments{
  margin-top:25px;
  margin-right:150px;
  color: white;
  /*
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  letter-spacing: 2px;*/
}
.b-point{
  color:black;
  /*font-size:28px;
  text-shadow: none;*/
}
.pages{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.welcome-page{
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width:100%;
  height:90%;
  background-color: #445EAE;
}
.welcome-text{
  color: white;
  font-size:30px;
  width:100%;
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}
.welcome-top-text{
  /*margin-left:60px;*/
  font-family: 'Montserrat Subrayada', sans-serif;
}
.welcome-bttm-text{
  /*margin-left:120px;*/
  font-family: 'Montserrat Subrayada', sans-serif;
}
.welcome-info{
  margin:10px;
  width:100%;
  font-size:30px;
}
.about-page{
  width:100%;
  height:100%;
  background-color:#6CCEA6;

}
.work-page{
  width:100%;
  height:100%;
  background-color:#ED8B1F;
}
.contact-page{
  width:100%;
  height:100%;
  background-color:#F1D40B;
}
